/* let's us animate the custom prop */
/* if @property isn't supported, everything works, just without the animation */
/* @property is currently support in chrome and safari, but not in firefox (10/06/2024)
   Define it as a length-percentage allow us to do animation.
*/
@property --progress {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

/* If JS is enabled */
[role='progressbar'] {
  --size: 132px;
  --bar-width: 20px;

  font-size: 2rem;
  width: var(--size);
  aspect-ratio: 1;

  /*background: blue;*/
  /* It means it start at 0%, then ends in 82% for the first value, the second value start from 82%+0%, and ends at 100% */
  /*background: conic-gradient(var(--color-dark) 82%, var(--color-dark-glare) 0%);*/
  /* This syntax does not work yet. */
  /*background: conic-gradient(var(--color-dark) attr(aria-valuenow), var(--color-dark-glare) 0%);*/
  background-image: conic-gradient(
    var(--color-dark) var(--progress, 0),
    var(--color-dark-glare) 0%
  );

  margin: 2rem auto;
  border-radius: 50%;

  display: grid;
  place-items: center; /* cannot use place-content as it got the <span> inside as well */

  /* this works thanks to the @property at the top */
  transition: --progress 500ms linear;

  &::after {
    content: attr(aria-valuenow) '%';
    /* You can comment out to see the conic-gradient effect of the outer circle */
    background: white;
    border-radius: inherit;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1;

    display: grid;
    place-content: center;
  }

  span {
    display: none;
  }
}

/* Add the animation other the tick will show first before the progress bar circle finishes at 100% button clicked. That is why you can see the animation take 0 seconds to complete */
[role='progressbar'][aria-valuenow='100']::after {
  /*content: 'YAY';*/
  /*  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODUiIGhlaWdodD0iODUiIHZpZXdCb3g9IjUgMzAgNzUgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNS40MjM3IDUzLjczMjdMNjcuOTc4NyAyMS4xNzc3TDcyLjk4OTUgMjYuMTg0MkwzNS40MTk1IDYzLjc1TDEyLjg4NiA0MS4yMTIyTDE3Ljg5MjUgMzYuMjAxNUwzNS40MjM3IDUzLjczMjdaIiBmaWxsPSIjMWYxYTM4Ii8+Cjwvc3ZnPgo=');
  background-color: var(--color-success);*/

  /* this is kind of hacky, but it allows the percent to be at 100% for a bit before the checkbox comes in, which feels better */
  animation: progressComplete 0s forwards;
  animation-delay: 1000ms;
}

@keyframes progressComplete {
  to {
    /*content: 'YAY';*/
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODUiIGhlaWdodD0iODUiIHZpZXdCb3g9IjUgMzAgNzUgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNS40MjM3IDUzLjczMjdMNjcuOTc4NyAyMS4xNzc3TDcyLjk4OTUgMjYuMTg0MkwzNS40MTk1IDYzLjc1TDEyLjg4NiA0MS4yMTIyTDE3Ljg5MjUgMzYuMjAxNUwzNS40MjM3IDUzLjczMjdaIiBmaWxsPSIjMWYxYTM4Ii8+Cjwvc3ZnPgo=');
    background: var(--color-success);
  }
}

/* If JS is disabled */
.progressbar:not([role='progressbar']) {
  color: red;
}

@layer general-styling-and-whatnot {
  :root {
    --font-base: 'Space Mono', monospace;
    --color-dark: #1f1a38;
    --color-dark-glare: #989ea9;
    --color-success: #76f7bf;
    --color-success-dark: #2d7a59;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-base);
    color: var(--color-dark);
    width: min(100% - 3rem, 40ch);
    margin-inline: auto;
    margin-block: 3rem;
  }

  a {
    color: var(--color-dark);

    &:is(:hover, :focus) {
      color: var(--color-success-dark);
    }
  }

  .testing-ground {
    color: var(--color-success);
    font-weight: bold;
    background: var(--color-dark);
    border: 5px solid var(--color-dark-glare);
    padding: 1rem;
    margin-block: 3rem;

    display: grid;
    gap: 1rem;
  }

  .testing-ground button {
    cursor: pointer;
    font: inherit;
    background: white;
    color: var(--color-dark);
    border: 0;
    padding: 0.5rem;

    &:is(:hover, :focus-visible) {
      background: var(--color-success);
    }

    &:is(:focus-visible) {
      outline: 5px solid var(--color-dark-glare);
    }
  }
}
